# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/build/

.idea

# ignore ksmt test data
ksmt-test/testData

# ignore maxsat test data
ksmt-maxsmt-test/testData

# ignore maxsmt test data]
ksmt-maxsmt-test/src/test/resources/maxSmtBenchmark
