name: Build and run long ksmt tests

on: workflow_dispatch

jobs:
  run_tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'zulu'
          cache: gradle

      - name: Build and run long tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            build
            --no-daemon
            --continue
            -Pz3.runBenchmarksBasedTests=true
            -Pbitwuzla.runBenchmarksBasedTests=true

      - name: Upload ksmt test reports
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ksmt_tests_report
          path: ./**/build/reports/tests/test/
